.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .top-items__name 
        = current_user.name
      .top-items__icons
        .top-items__icons--edit
          = link_to new_group_path,class: "icon-edit" do
            = icon("far","edit")

        .top-items__icons--cog
          = link_to edit_user_path(current_user),class: "icon-cog" do
            = icon("fas","cog")

  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list--block
        =link_to "#" do
          .block-name
            =group.name
      .block-message
        メッセージはまだありません